
/*...main-header section...*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}
html body {
    margin: 0;
    padding: 0;
    background-color: lavenderblush;
}
.main-header {
    border-bottom: thin;
    border-bottom-style: solid;
    height: 25px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
}
.nav ul {
    margin: 0;
}
.nav li{
    display: inline;
}
.nav a {
    display: inline-block;
    padding: .2em;
    color: black;
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
}
.main-nav {
     text-align: center;
     font-weight: lighter;
     font-size: 1em;
}
.main-nav li {
    padding: 0 5%;
}
/*...Home section....*/
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.shop-name {
    text-align: center;
    margin-left: 140px;
    font-size: 1.6em;
    font-family:cursive, 'lucida handwriting';
    font-weight: lighter;
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 20px;
}
.phone-number {
    font-family: cursive;
    color: black;
    background-size: cover;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 0;
}
.phone:hover {
    background-color: lavenderblush
}
.phone {
    padding: 1px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:lightcoral;
    text-align: right;
    margin-right: 145px;
    margin-bottom: 0;
    margin-top: 20px;
}
.fa-phone {
    padding: .2em;
    margin: .3em;
}
.line {
    height: 2px;
    background-color: #333;
    width: 80%;
    margin: 0 auto;
}

.line2 {
    height: 1px;
    background-color: #333;
    width: 80%;
    margin: .5em auto;
}
/*....Transition styling....*/
.slider-frame {
    background-color: lavenderblush;
    float: left;
    position: relative;
    padding: 1em 0;
    width: 100%;
    height: 750px; 
    overflow: hidden;
    justify-content: right;
}
.slide-images {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out; 
    object-position: 100% 0;
}
.img-size {
    flex: 0 0 100%;
    object-fit: contain;
    width: 100%; 
    max-height: 100%; 
    background-size: cover;
}
@keyframes slideshow {
    0%, 100% { transform: translateX(0%); }
    16.666% { transform: translateX(-100%); }
    33.333% { transform: translateX(-200%); }
    50% { transform: translateX(-300%); }
    66.666% { transform: translateX(-400%); }
    83.333% { transform: translateX(-500%); }
}
/*....End of transition styling....*/

/*...about section...*/

.section-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #333;
    text-align: left;
    font-size: 1.5em;
    padding-top: 1em;
    padding-left: .5em;
    margin: 0;
}
#about .section-header {
    padding-left: 0;
}
.content-section {
    margin: 0;  
    width: 100%;
    text-align: left;
    padding-top: 0;
    background-color:lavenderblush;
    padding-left: 1em;
}
.content-section.container {
    padding-top: 0;
    margin: 0 auto;
    text-align: left;
}
.container {
    max-width: 600px;
}
.appointment {
    align-items: center;
    text-align: center;
    padding-top: 1px;
}
.appointment h3 {
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: .5em;
    font-size: 2em;
    margin: 0;
    color: black;
}
.appointment h1{
    font-size: 2em;
    padding: 0;
    margin: 0;
    color: black;
}
.appointment .button {
    font-size: .7em;
    font-weight: normal;
    background-color: lightcoral;
    padding: 10px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
}
.appointment .button:hover {
    background-color: lavenderblush;
}
.appointment .line {
  height: 2px;
  background-color: #333;
  width: 30%;
  margin: 0 auto;
}
.appointment .line2 {
    height: 1px;
    background-color: #333;
    width: 30%;
    margin: 1em auto;
}

/*...services section...*/
#services {
    background-color: lavenderblush;
}
#services .section-header {
    padding-bottom: .2em;
}
.serve {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-decoration-line: underline;
    font-size: .7em;
}
.service-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    text-align: center;
    font-size: 1.5em;
}
.gel {
    margin-left: 2em;
    color: #333;
    background-image: url("../Images/Gel.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
   
}
.pedi {
    color: #333;
    background-image: url("../Images/Pedicure.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;   
}
.mani {
    color: #333;
    background-image: url("../Images/Manicure.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
    margin-right: 2em;
}
.tips {
    margin-left: 2em;
    color: black;
    background-image: url("../Images/Tips.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
}
.builder {
    color: #333;
    background-image: url("../Images/Builder\ gel.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
}
.ombre {
    color: #333;
    background-image: url("../Images/Ombre.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
    margin-right: 2em;
}
.aclyrics {
    color: #333;
    background-image: url("../Images/Aclyrics.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 500px;
    border-radius: 10%;
    margin-left: 2em;
}
.wax {
    color: #333;
    background-image: url("../Images/Waxing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
}

/*...contact section...*/
#contact {
    text-align: right;
    height: 60px;
    width: 100%;
    background-color: lavenderblush;
    padding-bottom: 0;
    margin-bottom: 0;
}
.reach-us {
    text-decoration: none;
    text-align: right;
    padding-right: 1em;
    height: 50px;
    padding-top: 1em;
}
.reach-us:hover {
    text-decoration: underline;
}
.fa-instagram {
    background: indianred;
    padding: .2em;
    margin: .3em;
    color: white;
    border-radius: 80%;
}
.fa-google {
    background: indianred;
    padding: .2em;
    margin: .3em;
    color: white;
    border-radius: 80%;
}
.main-footer h4 {
    padding-right: .5em;
    padding-bottom: .5em;
    margin: 0;
    font-size: 15px;
    font-style: italic;
    text-align: right;
    font-weight: lighter;
    background-color: lavenderblush;
    background-size: cover;
    padding-top: 0;
}
/* media query for small screens */
@media (max-width: 768px) {
    .shop-name {
        font-size: 1.5em;
    }

    .phone-number {
        font-size: 20px;
    }

    .phone {
        text-align: center;
    }
    .img-size {
        max-height: 500px;
    }
    .serve {
        grid-template-columns: repeat(2, 1fr);

    }
    .gel, .pedi, .mani, .tips, .builder, .ombre, .aclyrics, .wax {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 480px) {
    #home {
        margin-bottom: 0;
    }

    #about {
        margin-top: 0;
        padding-right: 1em;
    }
    .nav-list {
        display: flex; /* Display the list items horizontally */
        justify-content: center; /* Center the list items horizontally */
        padding-left: 0;
    }

    .nav-list li {
        margin: 7px 0; /* Add spacing between list items */
        padding-left: 0;
    }

    .nav-list a {
        font-size: 14px; /* Reduce the font size */
        font-weight: normal;
    }
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }
    .shop-name {
        text-align: left;
        font-size: 1em;
        margin-left: 7px;
        font-weight: bold;
    }

    .phone-number {
        font-size: 20px;
    }

    .phone {
        text-align: center;
        padding: 1px 30px;
        margin-right: 7px;
    }
    .line {
        height: 2px;
        background-color: #333;
        width: 100%;
        margin: 0 auto;
    }

    .line2 {
        height: 1px;
        background-color: #333;
        width: 100%;
        margin: .5em auto;
    }
    .img-size {
        max-height: 500px;
    }
    .appointment .line {
        height: 2px;
        background-color: #333;
        width: 70%;
        margin: 0 auto;
    }
    .appointment .line2 {
        height: 1px;
        background-color: #333;
        width: 70%;
        margin: 1em auto;
    }
    .appointment .button {
        font-size: .7em;
        font-weight: normal;
        background-color: lightcoral;
        padding: 10px 70px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: black;
    }
    .serve {
        grid-template-columns: repeat(1, 1fr);
    }
    .gel, .pedi, .mani, .tips, .builder, .ombre, .aclyrics, .wax {
        width: 70%;
        height: 200px;
        display: block;
        margin: 10px auto
    }
}